.parent{
    border:2px solid black;
    max-width:900px;
    height:700px;
    margin: auto;
    display:flex;
    /* flex-direction: column; */
    gap:10px;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;

}
.child{
    border:1px solid black;
    width:100px;
    height:100px;
    border-radius: 20px;
}
.child-1{
    background-color: orange;
    /* flex-grow: 1; */
    /* align-self: flex-end; */
}

.child-2{
    background-color: white;
    /* flex-grow: 1; */
}

.child-3{
    background-color: green;
    /* flex-grow: 1; */
}